// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "article.scss";
@import "component.scss";
@import "meeting.scss";
@import "sidebar.scss";

$L-size: 500px;

body {
  background-color: #f1f8e9;
  padding-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  a {
    text-decoration: none;
  }
}


#app {
  background-color: #f1f8e9;
  // 投稿記事の背景色
  .card_color {
    background-color: #fffde7;
  }
}

.top-images {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.top-bg-img {
  background: url('/assets/images/top_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: $L-size;
}

.top-inner {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: auto;
}

.top-text {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.4rem;
  z-index: 9000;
}

.main-images {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.main-bg-img {
  background: url('/assets/images/main_picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: $L-size;
}

.main-inner {
  position: absolute;
  top: 30%;
  left: 20%;
  margin: auto;
}

.main-text {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.4rem;
  z-index: 9000;
}

.container {

  .practice-title {
    margin: 30px 0;
  }
}

.navigate-color {
  background-color: #64DD17;
}


.user-form {
  margin: auto;
  width: 60%;
}

