// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "article.scss";
@import "component.scss";
@import "meeting.scss";
@import "sidebar.scss";

$L-size: 400px;

body {
  background-color: #f1f8e9;
  padding-top: 50px;

  a {
    text-decoration: none;
  }
}


#app {
  background-color: #f1f8e9;
  // 投稿記事の背景色
  .card_color {
    background-color: #fffde7;
  }
}

.top-images {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.top-bg-img {
  background: url('/assets/images/top-pictures.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: $L-size;
}

.top-inner {
  position: absolute;
  top: 30%;
  left: 30%;
  margin: auto;
}

.top-text {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #038743;
  font-size: 30px;
  letter-spacing: 0.4rem;
  z-index: 9000;
}

.main-images {
  width: 100%;
  height: $L-size;
  background: url('/assets/images/main-pictures.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {

  .practice-title {
    margin: 30px 0;
  }
}

.navigate-color {
  background-color: #64DD17;
}

// .new-post {
//   width: 140px;
//   height: 140px;
//   position: fixed;
//   right: 0;
//   z-index: 999;
//   background: linear-gradient(to bottom, #f5d364, #fca186);
//   color: #fff;
//   border-radius: 50%;
//   text-align: center;
//   text-decoration: none;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   p {
//     margin: 0 0 3px;
//     font-size: 15px;
//     color: #fff;
//     text-decoration: none;
//   }

//   i.fa-plus {
//     color: #fff;
//     font-size: 48px;
//     text-decoration: none;
//   }

//   &:hover {
//     transition: all 0.6s ease;
//     opacity: 0.8;
//     cursor : pointer;
//     color: #fff;
//     text-decoration: none;
//   }
// }

.user-form {
  margin: auto;
  width: 60%;
}

// 検索フォーム
// .search-form {
//   position: relative;

//   span::before {
//     content: "🔍";
//     position: absolute;
//     top: 8px;
//     left: 9px;
//   }

//   input[name="search"] {
//     padding-left: 36px;
//   }
// }

